 <widget id="A1868473493378564096"  version="0.0.1">
    <name>HelloApp</name>
    <description>
        Yuanbao tests on APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
	<!-- index.html 页面中openFrame看目标页面 -->

    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />

    <meta-data name="OFFLINE_APP_KEY" value="ynznjbcb2qzfcxabyrs7w5hj3cpmy5owxyuxb5aw"/>
    <meta-data name="OFFLINE_APP_SECRET" value="3cab1b99c13f84a692f63c50d16197e8"/>

	<feature name="IFlyVoice">
		<!-- <param name="appId_iOS" value="5bff50df"/> -->
		 <param name="appId_Android" value="5b1236fa" /> <!--5d11f8d5 -->
	</feature>

</widget>
